# Weather Data Classification using scikit-learn

<p style="font-family: Arial; font-size:1.75em;color:blue; font-style:bold"><br>

Importing the Necessary Libraries<br></p>

First we import the necessary libraries of the python for demostration of the Decision Tree Classifier

In [1]:
import pandas as pd
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

Read the data of the weather from the csv file using read_csv function of pandas dataframe

In [2]:
data = pd.read_csv('./daily_weather.csv')

<p style="font-family: Arial; font-size:1.75em;color:blue; font-style:bold">Daily Weather Data Description</p>
<br>
The file **daily_weather.csv** is a comma-separated file that contains weather data.  This data comes from a weather station located in San Diego, California.  The weather station is equipped with sensors that capture weather-related measurements such as air temperature, air pressure, and relative humidity.  Data was collected for a period of three years, from September 2011 to September 2014, to ensure that sufficient data for different seasons and weather conditions is captured.<br><br>
Let's now check all the columns in the data.

Know about various columns in the dataset.

In [3]:
data.columns

Index(['number', 'air_pressure_9am', 'air_temp_9am', 'avg_wind_direction_9am',
       'avg_wind_speed_9am', 'max_wind_direction_9am', 'max_wind_speed_9am',
       'rain_accumulation_9am', 'rain_duration_9am', 'relative_humidity_9am',
       'relative_humidity_3pm'],
      dtype='object')

In [4]:
data.head()

,number,air_pressure_9am,air_temp_9am,avg_wind_direction_9am,avg_wind_speed_9am,max_wind_direction_9am,max_wind_speed_9am,rain_accumulation_9am,rain_duration_9am,relative_humidity_9am,relative_humidity_3pm
0,0,918.060000,74.822000,271.100000,2.080354,295.400000,2.863283,0.0,0.0,42.420000,36.160000
1,1,917.347688,71.403843,101.935179,2.443009,140.471548,3.533324,0.0,0.0,24.328697,19.426597
2,2,923.040000,60.638000,51.000000,17.067852,63.700000,22.100967,0.0,20.0,8.900000,14.460000
3,3,920.502751,70.138895,198.832133,4.337363,211.203341,5.190045,0.0,0.0,12.189102,12.742547
4,4,921.160000,44.294000,277.800000,1.856660,136.500000,2.863283,8.9,14730.0,92.410000,76.740000

Checking is there exists null values in the dataset or not

In [5]:
data[data.isnull().any(axis=1)].head()

,number,air_pressure_9am,air_temp_9am,avg_wind_direction_9am,avg_wind_speed_9am,max_wind_direction_9am,max_wind_speed_9am,rain_accumulation_9am,rain_duration_9am,relative_humidity_9am,relative_humidity_3pm
16,16,917.890000,NaN,169.200000,2.192201,196.800000,2.930391,0.0,0.0,48.990000,51.190000
111,111,915.290000,58.820000,182.600000,15.613841,189.000000,NaN,0.0,0.0,21.500000,29.690000
177,177,915.900000,NaN,183.300000,4.719943,189.900000,5.346287,0.0,0.0,29.260000,46.500000
262,262,923.596607,58.380598,47.737753,10.636273,67.145843,13.671423,0.0,NaN,17.990876,16.461685
277,277,920.480000,62.600000,194.400000,2.751436,NaN,3.869906,0.0,0.0,52.580000,54.030000

<p style="font-family: Arial; font-size:1.75em;color:blue; font-style:bold"><br>

Data Cleaning Steps<br><br></p>

We will not need to number for each row so we can clean it.

Data Cleaning process --> As number column contains unique values which can not help us making any decision

In [6]:
del data['number']
print(data)

      air_pressure_9am  air_temp_9am  avg_wind_direction_9am  \
0           918.060000     74.822000              271.100000
1           917.347688     71.403843              101.935179
2           923.040000     60.638000               51.000000
3           920.502751     70.138895              198.832133
4           921.160000     44.294000              277.800000
5           915.300000     78.404000              182.800000
6           915.598868     70.043304              177.875407
7           918.070000     51.710000              242.400000
8           920.080000     80.582000               40.700000
9           915.010000     47.498000              163.100000
10          919.650000     77.036000               70.600000
11          915.640000     45.716000              241.600000
12          917.390000     49.784000              204.100000
13          920.820000     62.438000              213.600000
14          911.000000     86.432000              202.900000
15          922.383131     70.865263               36.174175
16          917.890000           NaN              169.200000
17          916.915255     77.018961              234.539345
18          918.800000     67.082000              176.100000
19          922.040000     68.576000               58.300000
20          919.992262     62.964383               54.799094
21          917.230000     67.676000              177.800000
22          921.125626     68.818772               71.799092
23          920.350000     47.570000              192.100000
24          921.788229     71.659572              217.405520
25          918.030000     50.666000              128.900000
26          914.490000     49.892000              163.000000
27          914.900000     78.620000              203.300000
28          915.840000     40.118000              171.900000
29          916.310000     45.428000              183.100000
...                ...           ...                     ...
1065        915.600000     69.584000              185.500000
1066        919.564869     73.726732               68.704694
1067        917.690000     64.994000              178.300000
1068        920.330000     68.864000              122.400000
1069        918.260000     82.220000              186.600000
1070        911.600000     46.346000              110.200000
1071        919.200000     70.250000              156.700000
1072        923.100000     75.596000              178.300000
1073        917.920000     84.650000               30.000000
1074        913.870000     66.938000              171.900000
1075        922.858110     64.989361               63.483047
1076        925.550000     50.918000               32.600000
1077        920.130000     73.292000              193.600000
1078        924.017856     68.370307               56.304083
1079        917.200000     65.264000              137.600000
1080        916.260000     79.772000              185.700000
1081        920.856913     69.884338               47.335966
1082        916.130000     50.108000              211.400000
1083        916.320000     48.308000               46.900000
1084        917.130000     80.240000              183.300000
1085        914.840000     47.354000              190.900000
1086        921.260000     52.646000              261.900000
1087        914.000000     66.650000              173.800000
1088        912.900000     71.870000              129.200000
1089        915.000000     55.040000              191.800000
1090        918.900000     63.104000              192.900000
1091        918.710000     49.568000              241.600000
1092        916.600000     71.096000              189.300000
1093        912.600000     58.406000              172.700000
1094        921.530000     77.702000               97.100000

      avg_wind_speed_9am  max_wind_direction_9am  max_wind_speed_9am  \
0               2.080354              295.400000            2.863283
1               2.443009              140.471548            3.533324
2              17.067852               63.700000           22.100967
3               4.337363              211.203341            5.190045
4               1.856660              136.500000            2.863283
5               9.932014              189.000000           10.983375
6               3.745587              186.606696            4.589632
7               2.527742              271.600000            3.646212
8               4.518619               63.000000            5.883152
9               4.943637              195.900000            6.576604
10              3.825167               85.500000            4.764682
11              5.860783              265.800000            8.030615
12              1.275056              211.800000            2.013246
13              2.617220              165.700000            3.310671
14              1.207948              162.900000            1.677705
15              1.847278               58.428632            2.529142
16              2.192201              196.800000            2.930391
17              2.274725              229.474199            2.906513
18              4.876529              183.400000            5.569981
19              9.551734               81.900000           12.571603
20             12.680436               74.254223           15.452306
21              2.460634               93.200000            3.288302
22              2.576538               95.472334            3.487444
23              6.263432              205.700000            7.605596
24              1.946447              253.758003            2.719712
25              2.527742              117.400000            4.004123
26              4.854160              189.600000            6.733189
27              1.811921              240.000000            2.751436
28             10.535987              188.000000           12.929513
29              8.343786              194.600000           10.088599
...                  ...                     ...                 ...
1065            4.630466              198.200000            5.480503
1066            3.551777              102.571616            4.861315
1067            2.975130              193.900000            3.735690
1068            2.035615              182.000000            3.086977
1069            1.096101              221.500000            1.722444
1070            2.304048               96.100000            3.154085
1071            2.013246              172.300000            2.617220
1072            1.409272              205.200000            1.856660
1073            4.831790               40.100000            5.838413
1074            6.509495              182.300000            7.471380
1075           10.261187               73.170504           11.949206
1076            5.413395               57.500000            8.120092
1077            4.115970              211.300000            4.966007
1078           15.162800               76.585117           19.803578
1079            1.767183              176.700000            2.550112
1080            3.511996              201.500000            4.160708
1081           12.238670               66.729162           16.067860
1082            2.550112              231.800000            3.534365
1083            4.854160               61.700000            5.860783
1084            1.632966               38.500000            2.259309
1085            3.713320              204.400000            4.652835
1086            2.035615              260.500000            3.042238
1087            8.366156              181.000000            9.439887
1088            1.431642              160.000000            2.057985
1089            5.368656              220.900000            7.068730
1090            3.869906              207.300000            5.212070
1091            1.811921              227.400000            2.371156
1092            3.064608              200.800000            3.892276
1093            3.825167              189.100000            4.764682
1094            3.265932              125.900000            4.451511

      rain_accumulation_9am  rain_duration_9am  relative_humidity_9am  \
0                      0.00                0.0              42.420000
1                      0.00                0.0              24.328697
2                      0.00               20.0               8.900000
3                      0.00                0.0              12.189102
4                      8.90            14730.0              92.410000
5                      0.02              170.0              35.130000
6                      0.00                0.0              10.657422
7                      0.00                0.0              80.470000
8                      0.00                0.0              29.580000
9                      0.00                0.0              88.600000
10                     0.00                0.0              22.070000
11                     0.55             1770.0              90.560000
12                     0.00                0.0              73.150000
13                     0.00                0.0              43.640000
14                     0.00                0.0              15.190000
15                     0.00                0.0              12.110889
16                     0.00                0.0              48.990000
17                     0.00                0.0              21.031462
18                     0.00                0.0              18.900000
19                     0.00                0.0               7.540000
20                     0.00                0.0              18.809518
21                     0.00                0.0              40.640000
22                     0.00                0.0              11.742201
23                     0.00                0.0              54.550000
24                     0.00                0.0              11.194250
25                     0.00                0.0              76.880000
26                     0.00                0.0              92.100000
27                     0.00              220.0              47.890000
28                     0.00                0.0              86.430000
29                     0.00                0.0              86.150000
...                     ...                ...                    ...
1065                   0.00                0.0              28.970000
1066                    NaN                0.0              11.657314
1067                   0.00                0.0              54.880000
1068                   0.00                0.0              52.380000
1069                   0.00                0.0              32.460000
1070                   0.00                0.0              90.510000
1071                   0.00                0.0              42.060000
1072                   0.00                0.0              11.880000
1073                   0.00                0.0              16.220000
1074                   0.00                0.0              57.430000
1075                   0.00                0.0              14.525109
1076                   0.00               10.0              29.090000
1077                   0.00                0.0              33.520000
1078                   0.00                0.0              11.599240
1079                   0.00                0.0              58.370000
1080                   0.00                0.0              27.680000
1081                   0.00                0.0              11.956852
1082                   0.00                0.0              89.800000
1083                   0.00                0.0              91.030000
1084                   0.00                0.0              28.260000
1085                   0.00                0.0              92.300000
1086                   0.00                0.0              91.110000
1087                   0.00                0.0              30.920000
1088                   0.00                0.0              51.840000
1089                   0.00                0.0              73.550000
1090                   0.00                0.0              26.020000
1091                   0.00                0.0              90.350000
1092                   0.00                0.0              45.590000
1093                   0.00                0.0              64.840000
1094                   0.00                0.0              14.560000

      relative_humidity_3pm
0                 36.160000
1                 19.426597
2                 14.460000
3                 12.742547
4                 76.740000
5                 33.930000
6                 21.385657
7                 74.920000
8                 24.030000
9                 68.050000
10                32.130000
11                79.090000
12                58.430000
13                27.990000
14                24.370000
15                14.801706
16                51.190000
17                20.755683
18                45.870000
19                 7.740000
20                14.649909
21                41.340000
22                17.281161
23                66.000000
24                16.331716
25                47.030000
26                90.990000
27                43.900000
28                84.390000
29                90.580000
...                     ...
1065              39.370000
1066              17.331823
1067              52.070000
1068              62.620000
1069              56.930000
1070              62.490000
1071              41.850000
1072              19.810000
1073              27.450000
1074              53.380000
1075              15.511157
1076              23.720000
1077              38.120000
1078               9.373013
1079              65.590000
1080              20.400000
1081              12.696233
1082              53.860000
1083              62.400000
1084              34.690000
1085              88.160000
1086              81.890000
1087              47.340000
1088              55.490000
1089              69.670000
1090              38.180000
1091              73.340000
1092              52.310000
1093              58.280000
1094              15.100000

[1095 rows x 10 columns]

Calculatoing the amount of data or say number of rows in the dataset before removing the rows containg null values

In [7]:
before_rows = data.shape[0]
print(before_rows)

1095

Removing the rows which contains the null values

In [8]:
data = data.dropna()

Calculatoing the amount of data or say number of rows in the dataset after removing the rows containg null values

In [9]:
after_rows = data.shape[0]
print(after_rows)

1064

Calculate how many rows are deleted which contains the Null Values

In [10]:
before_rows - after_rows

31

Filter the values which contains more than 24.99 relative humidity at 3pm.

In [11]:
clean_data = data.copy()
clean_data['high_humidity_label'] = (clean_data['relative_humidity_3pm'] >24.99) *1
clean_data['high_humidity_label'].head()

0    1
1    0
2    0
3    0
4    1
Name: high_humidity_label, dtype: int32

In [12]:
y = clean_data[['high_humidity_label']].copy()
y.head()

   high_humidity_label
0                    1
1                    0
2                    0
3                    0
4                    1

In [13]:
clean_data['relative_humidity_3pm'].head()

0    36.160000
1    19.426597
2    14.460000
3    12.742547
4    76.740000
Name: relative_humidity_3pm, dtype: float64

In [14]:
y.head()

   high_humidity_label
0                    1
1                    0
2                    0
3                    0
4                    1

<p style="font-family: Arial; font-size:1.75em;color:blue; font-style:bold"><br>

Use 9am Sensor Signals as Features to Predict Humidity at 3pm
<br><br></p>

Storing all the Morning features other than Humidity at 3 pm in the morning feature

In [15]:
morning_features = ['air_pressure_9am', 'air_temp_9am', 'avg_wind_direction_9am',
       'avg_wind_speed_9am', 'max_wind_direction_9am', 'max_wind_speed_9am',
       'rain_accumulation_9am', 'rain_duration_9am', 'relative_humidity_9am']

Copying the values from the clean_data dataset to new dataset x which only consist of the Morning Feature Data

In [16]:
x=clean_data[morning_features].copy()
x.columns

Index(['air_pressure_9am', 'air_temp_9am', 'avg_wind_direction_9am',
       'avg_wind_speed_9am', 'max_wind_direction_9am', 'max_wind_speed_9am',
       'rain_accumulation_9am', 'rain_duration_9am', 'relative_humidity_9am'],
      dtype='object')

In [17]:
y.columns

Index(['high_humidity_label'], dtype='object')

<p style="font-family: Arial; font-size:1.75em;color:blue; font-style:bold"><br>

Perform Test and Train split

<br><br></p>

By using train_test_split we have split the data into traing dataset and testing datasets.

In [18]:
X_train,X_test,y_train,y_test = train_test_split(x,y,test_size=0.33,random_state=324)

<p style="font-family: Arial; font-size:1.75em;color:blue; font-style:bold"><br>

Fit on Train Set
<br><br></p>

We have made a classifier for making the Decision Tree and to train the data using this classifier

In [19]:
humidity_classifier = DecisionTreeClassifier(max_leaf_nodes=10,random_state=0)
humidity_classifier.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=10,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=0,
            splitter='best')

In [20]:
type(humidity_classifier)

sklearn.tree.tree.DecisionTreeClassifier

<p style="font-family: Arial; font-size:1.75em;color:blue; font-style:bold"><br>

Predict on Test Set 

<br><br></p>

Using humidity_classifier we have predicted the value for the X_test and stored it to y_predicted

In [21]:
y_predicted = humidity_classifier.predict(X_test)

In [22]:
y_predicted[:10]

array([0, 0, 1, 1, 1, 1, 1, 0, 1, 1])

In [23]:
y_test['high_humidity_label'][:10]

456     0
845     0
693     1
259     1
723     1
224     1
300     1
442     0
585     1
1057    1
Name: high_humidity_label, dtype: int32

<p style="font-family: Arial; font-size:1.75em;color:blue; font-style:bold"><br>

Measure Accuracy of the Classifier
<br><br></p>

Checking our accuracy of the model using accuracy_score function from sklearn metrics which in this case is with around 90% accuracy

In [24]:
accuracy_score(y_test,y_predicted)*100

90.05681818181817